.pt-group-item.pt-custom-meta-data{
    width: 40%;
}

.pt-group-item.pt-contact-info-data{
    width: 40%;max-width: 400px;
}

.image-group-item-edit.ig-vars-selected-video_type-0 .ig-extend-item[data-key="video_link"],
.image-group-item-edit.ig-vars-selected-video_type-0 .ig-extend-item[data-key="video_volume"] {
    display: none;
}

body.post-type-page.page-wc-cart .postarea.wp-editor-expand,
body.post-type-page.page-wc-checkout .postarea.wp-editor-expand,
body.post-type-page.page-wc-myaccount .postarea.wp-editor-expand,
body.post-type-page.page-wc-terms .postarea.wp-editor-expand {
    display: block;
}

body.page-template-default #thecs_page_basic_setting, 
body.page-wc-cart #thecs_page_setting, body.page-wc-cart #thecs_page_basic_setting, 
body.page-wc-checkout #thecs_page_setting, body.page-wc-checkout #thecs_page_basic_setting, 
body.page-wc-myaccount #thecs_page_setting, body.page-wc-myaccount #thecs_page_basic_setting, 
body.page-wc-terms #thecs_page_setting body.page-wc-terms #thecs_page_basic_setting {
    display: none;
}

body.page-wc #thecs_shortcode_page,
body.page-template-default #thecs_shortcode_page,
body.page-template-blog #thecs_shortcode_page,
body.page-template-portfolio #thecs_shortcode_page,
body.page-template-gallery #thecs_shortcode_page {
    display: none;
}

body.post-type-1 #thecs_shortcode_project_post,
body.project-type-1 #thecs_shortcode_project_post {
    display: none;
}

#thecs_page_basic_setting{
	user-select: none;
}
.pt-contact-info-item .pt-option-item-des_size,
.pt-contact-info-item .pt-option-item-block,
.pt-contact-info-item .pt-option-item-col{
    display: inline-block;vertical-align: top;
    margin-right:10px; 
}
.pt-contact-info-item .pt-option-item-col{
	margin-right: 0;
}
.pt-contact-info-item .pt-group-option-item>strong{
	display: block;
}

.pt_project_post_color .wp-picker-container input[type=text].wp-color-picker,
.pt-tabs-right #ts-tab-1 .wp-picker-container input[type=text].wp-color-picker{
    width: 540px;
}
@media screen and (max-width: 1680px){
    .pt_project_post_color .wp-picker-container input[type=text].wp-color-picker,
    .pt-tabs-right #ts-tab-1 .wp-picker-container input[type=text].wp-color-picker{
        width: 300px;
    }
}
@media screen and (max-width: 1360px){
    .pt_project_post_color .wp-picker-container input[type=text].wp-color-picker,
    .pt-tabs-right #ts-tab-1 .wp-picker-container input[type=text].wp-color-picker{
        width: 100%;
    }
}

.post-type-product .insert-shortcode-btn {
    display: none;
}
#widgets-right .widget[id*='woocommerce']:after,
.widget.ui-draggable[id*='woocommerce']:after,
.widgets-holder-wrap #woocommerce h2:before{
    content: '';
    position: absolute;
    width: 40px;height: 40px;
    right: 0;top: 2px;
    background: url('wc-icon.png') no-repeat center;
    opacity: 0.4;
    z-index: 2;
}
div#widgets-right .widgets-holder-wrap #woocommerce h2{
    position: relative;
    padding-left: 40px;
}
.widgets-holder-wrap #woocommerce h2:before{
    right: auto;left: 2px;top: 4px;
}
#widgets-right .widget[id*='woocommerce']:after{
    right: 30px;
}
.image-select-list li{
    position: relative;
}
.image-select-list li[data-img-name*="_thumb_size_"]:after{
    position: absolute;
    right: -20px;top: 10px;
    line-height: 17px;
    font-size: 11px;
    padding: 0 10px;
    background: rgba(30,40,50,.7);
    border-radius: 3px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.image-select-list li[data-img-name*="_thumb_size_"]:hover:after{
    opacity: 1;
}
.image-select-list li[data-img-name*="_thumb_size_1"]:after{
    content: 'Auto Size';
}
.image-select-list li[data-img-name*="_thumb_size_2"]:after{
    content: 'Horizontal';
}
.image-select-list li[data-img-name*="_thumb_size_3"]:after{
    content: 'Vertical';
}
.image-select-list li[data-img-name*="_thumb_size_4"]:after{
    content: 'Square';
}

body.post-type-2 .ig-extend-item[data-key="display"]{
    display: none !important;
}

.shortcode-item input[name="price_symbol"]{
    width: 80px;
}
.shortcode-item input[name^="list_text_"] ~ .thecs-sc-form-desc{
    display: none;
}
.shortcode-item input[name="list_text_6"] ~ .thecs-sc-form-desc{
    display: block;
}
.shortcode-item[data-name="price_symbol"] ~ .shortcode-item[data-name*="list_text_"] td{
    padding: 4px 0;
}

/**
 * rtl ----------------------------------------
**/

[dir='rtl'] .image-select-list li[data-img-name*="_thumb_size_"]:after {
    left: -20px;
    right: auto;
}