@charset "utf-8";


@font-face {
	font-family: 'myicon';
  font-display: auto;
	src:    url('fonts/icomoon.eot?lgi8xq');
	src:    url('fonts/icomoon.eot?lgi8xq#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?lgi8xq') format('truetype'),
	url('fonts/icomoon.woff?lgi8xq') format('woff'),
	url('fonts/icomoon.svg?lgi8xq#icomoon') format('svg');
	font-weight: normal !important;
}

/*quattrocento*/
@font-face {
    font-family: 'quattrocento-Local';
    src: url('fonts/quattrocento-400.woff2') format('woff2'),
         url('fonts/quattrocento-400.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'quattrocento-Local';
    src: url('fonts/quattrocento-700.woff2') format('woff2'),
         url('fonts/quattrocento-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*butler*/
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_black-webfont.woff2') format('woff2'),
         url('fonts/butler_black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_bold-webfont.woff2') format('woff2'),
         url('fonts/butler_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_extrabold-webfont.woff2') format('woff2'),
         url('fonts/butler_extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_medium-webfont.woff2') format('woff2'),
         url('fonts/butler_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_regular-webfont.woff2') format('woff2'),
         url('fonts/butler_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_light-webfont.woff2') format('woff2'),
         url('fonts/butler_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'butler-Local';
    src: url('fonts/butler_ultra_light-webfont.woff2') format('woff2'),
         url('fonts/butler_ultra_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/montserrat-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat-Local';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/montserrat-v10-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v10-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v10-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v10-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}
