@charset "utf-8";
/*pt normal widget style*/






/*widget setting*/
.m-mode .pt-widget-list{
	width: 100% !important;
	padding: 0 !important;
}

.pt-widget-list{
	height: 100%;
}
.widget{
	position: relative;
	color: rgb(240,240,240);
	font-size: 1.25rem;
}
.hidden-menu .widget{
	margin-bottom: 60px;
}
.m-mode .hidden-menu .widget{
	margin-bottom: 36px;
}
.widget:last-child{
	margin-bottom: 0;
}
.pt-widget-list .widget a,.pt-widget-list .widget input .pt-widget-list .h{
	color: #fff;
}

.widget-title{
	position: relative;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.widget-title:before{
	content: '';position: absolute;
	left: 0;bottom: -1px;
	width: 20px;height: 1px;
}
.widget li{
	position: relative;
	list-style-type: none;
}
.widget li li{
	margin-left: 15px;
}
.widget li li:before{
	content: '';position: absolute;left: -10px;top: 20px;
	width: 4px;height: 1px;background: rgb(166,166,166);
}
.widget li{
	padding: 12px 0;
	border-bottom: 1px solid rgba(166,166,166,.2);
}
.widget li ul:before{
	content: '';
	position: absolute;
	left: 0;right: 0;
	height: 1px;
	margin-left: 15px;
	background: rgba(166,166,166,.2);
}
.widget li:last-child{
	border: none;
}
.widget ul{
	position: relative;
}
.widget li ul{
	margin-top: 12px;
	margin-bottom: -10px;
}
.widget_nav_menu li{
	font-size: 24px;
	border:none;
}
.widget_nav_menu li a{
	display: inline-block;line-height: 30px;
	z-index: 2;
}
.widget_nav_menu li li a{
	line-height: 20px;
}
.widget_nav_menu li ul{
	display: none;
	font-size: 14px;
	padding-bottom: 20px;
}
.widget_nav_menu ul ul ul{
	display: block;
}
.widget_nav_menu li ul:before{
	bottom: 10px;
}
.widget_nav_menu ul ul ul:before{
	display: none;
}
.widget_nav_menu li li{
	font-size: 14px;
}
.call-widget-sub{
	position: absolute;
	height: 30px;width: 100%;
	left: 0;top: 12px;
	cursor: pointer;
}
.call-widget-sub:after{
	content: '\e91c';
	position: absolute;
	right: 0;top: 0;
	height: 30px;line-height: 30px;
	text-align: center;
	font-family: 'myicon';
	font-style: normal;
}
.call-widget-sub.open:after{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}



.pt-widget-list table td,
.widget table th{
	padding: 0;
	text-align: center;
	line-height: 36px;
	border-color: rgba(166,166,166,.1);
}
.widget table th{
	background-color: rgba(166,166,166,.1);
}
caption{
	text-align: left;
	margin-bottom: 8px;
}


.widget_media_image img,
.textwidget img{
	width: 100%;
	height: auto;
	margin: 10px 0;
}

.widget a{
	transition: all 0.3s;
}
.widget:not(.widget_nav_menu) a:hover{
	opacity: 0.8;
}

.widget_categories li,
.recentcomments,
.post-date,
.rss-date{
	color: #999;
}

.tagcloud{
	font-size: 0;
}
.widget_archive .widget-title + label,.widget_categories .widget-title + label{
	display: none;
}
.tagcloud a{
	display: inline-block;vertical-align: top;
	font-size: 11px !important;
	color: #fff !important;
	padding: 0 10px;
	margin: 0 4px 4px 0;
	line-height: 26px;
	border-radius: 4px;
}
.tagcloud a:hover{
	opacity: 0.8;
}
.widget .wp-caption-text{
	font-size: 13px;
	color: #ccc;
}
.rssSummary{
	position: relative;
	height: 120px;
	overflow: auto;
	padding: 15px;
	margin: 10px 0;
	background-color: rgba(166,166,166,.1);
	word-break: break-word;
}
.rss-date{
	display: block;
	margin-top: 8px;
}
.widget_rss .rssPreview{
	position: absolute;right: 0;bottom: 0;
}
.widget video{
	width: 100%;
}
.widget .search-submit,.woocommerce-product-search input[type='submit']{
	position: absolute;
	right: 0;top: 0;
	height: 36px;line-height: 36px;text-align: center;
	padding: 0 15px;
	visibility: visible;
	color: #fff;
	border-radius: 18px;
	z-index: 2;
}
.woocommerce-product-search .screen-reader-text{
	display: none;
}
.widget .woocommerce-product-search,.widget .search-form{
	position: relative;
}

.widget input.search-field{
	width: 100%;height: 36px;
	padding: 0 15px;
	border-color: transparent;
	background-color: rgba(166,166,166,.15);
	border-radius: 18px;
	color: #fff;
}


.widget select{
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border-color: rgba(166,166,166,.4);
	-webkit-appearance: menulist;
}
.site-dark .widget select{
	background-color: #262728;
	color: #fff;
}
.widget_media_image img{
	transition: all 0.4s;
	-webkit-transition:all 0.4s;
}
.widget_media_image a:hover img{
	opacity: 0.8;
}


@media screen and (max-width: 1440px){
	.widget{
		font-size: 1rem;
	}
	.widget_nav_menu li{
		font-size: 18px;
	}
}



/*woocommerce*/
.widget .product_list_widget img{
	position: absolute;
	max-width: 80px;
	left: 0;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.widget .product_list_widget li{
    padding: 0 0 0 94px;
    display: flex;
    flex-wrap: wrap;
    min-height: 110px;
    align-content: center;
    background: transparent;
}
.widget li > div{
	flex-shrink:0;
	width: 100%; 
}
ul.product_list_widget li a{
	width: 100%;
}
ul.product_list_widget li a.pt-cart-widget-thumb{
	height: 100%;
}
ul.product_list_widget li > span,ul.product_list_widget li > span span{
	line-height: 20px;
}
ul.product_list_widget del,ul.product_list_widget ins{
	line-height: 20px;
}
nav.hidden-menu .widget .woocommerce-mini-cart__buttons a{
	color: #262728;
	opacity: 1 !important;
}
nav.hidden-menu .widget .woocommerce-mini-cart__buttons a:hover{
	color: #fff !important;
}
.widget .product_list_widget li a span{
	display: block;
	margin: 10px 0 4px 0;
	white-space: normal;
	line-height: normal;
}
.widget .product_list_widget li:after {
	content: '';
	clear: both;
	display: block;
}
.product_list_widget del span,.product_list_widget ins span{
	font-size: 12px;
}
ul.product_list_widget del {
	order: 2;
	margin-left: 4px;
}



.widget_price_filter .price_slider_wrapper .ui-widget-content{
	position: relative;
	height: 5px;
	margin:0 5px;
	background: rgba(166,166,166,.1);
	border-radius: 5px;
}
.widget_price_filter .ui-slider-handle{
	position: absolute;
	width: 14px;height: 14px;
	top: 50%;
	margin: -7px 0 0 -7px;
	border-radius: 50%;
	cursor: ew-resize;
	outline: 0;
	z-index: 2;
}
.widget_price_filter .ui-slider-range{
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	border-radius: 5px;
	z-index: 1;
}
.widget_price_filter form{
	overflow: visible;
}
.widget_price_filter button.button{
	height: 32px;
	padding: 0 30px;
	border-radius: 16px;
	color: #fff;
	background: rgba(166,166,166,.2);
	margin: 20px 0;
}
.widget_price_filter .price_label{
	float: right;
	margin-top: 30px;
}
