/*  ==========================================================================
    Base styles
    ========================================================================== */


	body {
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-family: 'Roboto';
	}



/*
    Headings
    ========================================================================== */

	h1, .h1 { font-size: 36px; }
	h2, .h2 { font-size: 30px; }
	h3, .h3 { font-size: 24px; }
	h4, .h4 { font-size: 18px; }
	h5, .h5 { font-size: 14px; }
	h6, .h6 { font-size: 12px; }


/*
	Color
	========================================================================== */

	.white{
		color:white;
	}


/*
    Links
    ========================================================================== */



/*
    Selection
    ========================================================================== */

/*
    Video
    ========================================================================== */




/*
	Resets
	========================================================================== */


/*
	Animations
	========================================================================== */


	@include keyframes(fadeInFromNone) {
	  0% 	{ display: none; 	opacity: 0;}
	  1% 	{ display: block;	opacity: 0;}
	  100% 	{ display: block;	opacity: 1;} 
	}

	@include keyframes(fadeOutToNone) {
	  0% 	{ display: block; 	opacity: 1;}
	  1% 	{ display: none;	opacity: 1;}
	  100% 	{ display: none;	opacity: 0;} 
	}


	.fadeIn{
		@include animation(fadeInFromNone, 0.5s, ease-out, forward, forwards,0,1);
	}

	.fadeOut{
		@include animation(fadeOutToNone, 0.5s, ease-out, forward, forwards,0,1);
	}
