@charset "utf-8";

/* ------------ common -------------- */

body{
	text-align: right;
}

.list-icon {
    left: 0;
    right: auto;
}

.pt-iv-close {
	left: 10px;
    right: auto;
}

a.full {
    left: auto;
    right: 0;
}

.list-title {
    float: right;
}

.go-top {
    left: 40px;
    right: auto;
}

.call-list-widgets {
    left: 40px;
    right: auto;
}

.list-widgets {
	left: 0;
    right: auto;
}

.list-widgets .list-widgets-wrap {
    left: 0;
    right: auto;
    transform: translate3d(-120%,-50%,0);
	-webkit-transform: translate3d(-120%,-50%,0);
}

body:not(.m-mode) .list-widgets:hover .list-widgets-wrap,
.m-mode .list-widgets.open .list-widgets-wrap{
	transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
}

.list-widgets li.current:after {
    left: auto;
    right: -2px;
}

.list-widgets li {
    padding: 0 20px 0 60px;
}

i.title-info {
    left: auto;
    right: 42px;
}

.list-title.style-02 .intro {
    left: auto;
    right: 70px;
}

body:not(.m-mode) .list-widgets:hover .call-list-widgets:after,
body:not(.m-mode) .list-widgets:hover .call-list-widgets:before{
	transform: translate3d(-102%,0,0);
}

header.style-03 .depth-1.sub-no-img > .sub-menu, header.style-04 .depth-1.sub-no-img > .sub-menu {
    left: auto;
    right: -10px;
}

.header-search form {
    left: 0;
    right: auto;
}

i.close-search {
    left: 0;
    right: auto;
}

.header-search input.search-btn {
    left: 40px;
    right: auto;
}

.header-search form:before {
    left: 40px;
    right: auto;
}

.call-hidden-menu.btn, .call-search.btn, .call-cart.btn, .header-search, .header-right .widget_shopping_cart_content {
    margin-left: 0;
    margin-right: 8px;
    float: left;
}

.header-search input.search {
    padding: 0 20px 0 60px;
}

.hidden-menu {
    left: 0;
    right: auto;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.ptbar-outerWrap .content {
    padding-left: 30px;
    padding-right: 0;
}

.share .wrap {
    left: auto;
    right: 0;
}

.main-menu .has-sub:before {
    left: auto;
    right: -12px;
}

.hoverLine {
    left: 0;
    right: auto;
}

header.style-01 {
    left: auto;
    right: 0;
}

header.style-01 .sub-no-img .sub-menu {
    border-right: 3px solid;
    border-left: 0;
}
header.style-01 .sub-no-img .sub-menu {
    left: auto;
    right: 100%;
}

header.style-01 .main-menu li.depth-1 {
    padding-left: 20px;
    padding-right: 0;
}

.sub-no-img .sub-menu {
    padding: 20px 24px 22px 34px;
}

header.style-02 .menu-02 td {
    padding: 0 0 0 50px;
}

header.style-02 .logo {
    float: right;
    margin-left: 50px;
    margin-right: 0;
}

header.style-03 .logo {
    float: right;
    margin-left: 60px;
    margin-right: 0;
}

header.style-05 {
    left: auto;
    right: 0;
}

header.style-05 .nav-05-outerWrap {
    left: auto;
    right: 80px;
}

.pt-mouse-scroll-wide {
    left: auto;
    right: 0;
}

header.style-05 .header-right {
    left: 25px;
    right: auto;
}

body:not(.m-mode) header.style-05 ~ .main-content {
    padding-left: 0;
    padding-right: 80px;
}

header.style-05 ~ .list-title-bg {
    left: auto;
    right: 80px;
}

header.style-05 ~ footer > i.btn {
    left: auto;
    right: 27px;
}

.call-m-right ~ .call-cart.btn {
    left: 50px;
    right: auto;
}

i.btn:before, .list-icon i:before, .list-icon a:before {
    left: auto;
    right: 0;
}

.call-m-left {
    left: auto;
    right: 0;
}

.call-m-right {
    left: 0;
    right: auto;
}

.m-left {
    left: auto;
    right: -100%;
}

.m-left.open {
    left: auto;
    right: 0;
}

i.close-m-left.btn, i.close-m-right.btn, i.close-m-cart.btn {
    left: 0;
    right: auto;
}

i.close-m-left.btn:before, i.close-m-right.btn:before {
    left: 0;
    right: auto;
}

.m-side {
    text-align: right;
}

.call-m-sub:after {
    left: 0;
    right: auto;
}

.call-m-sub {
    left: 0;
    right: auto;
}

.m-main-menu .current-menu-ancestor:after, .m-main-menu .current_page_item:after, .m-main-menu .current-menu-item:after, .m-main-menu .current-menu-parent:after {
    left: auto;
    right: -10px;
}

.m-header .sub-menu li[class*='current']:after {
    left: auto;
    right: 8px !important;
}

.m-header li li {
    padding-left: 0;
    padding-right: 20px;
}

.m-side form:before {
    left: 0;
    right: auto;
}

.item.sticky .img:before, .item.sticky.text-post:before {
    left: 20px;
    right: auto;
}

blockquote:after {
    left: 20px;
    right: auto;
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

body:not(.woocommerce-page) .text-area li, body:not(.woocommerce-page) .default-template-page li, .comment-area li, .content li {
	margin-left: 0;
    margin-right: 15px;
}

.widget li ul:before {
	margin-left: 0;
    margin-right: 15px;
}

.widget li li:before {
	left: auto;
    right: -10px;
}

.widget li li {
	margin-left: 0;
    margin-right: 15px;
}

header.style-01 .depth-2 .sub-menu:not(.flex-target), header.style-03 .depth-2 .sub-menu:not(.flex-target), header.style-04 .depth-2 .sub-menu:not(.flex-target) {
    left: auto;
    right: 100%;
}

.main-menu .depth-2.has-sub:after {
    left: -12px;
    right: auto;
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

div.wpcf7 .ajax-loader {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -15px;
}

/* ------------------ footer ---------------------- */
footer {
    left: auto;
    right: 0;
}

footer > i.btn {
	left: auto;
    right: 40px;
}

footer .wrap {
    padding-left: 0;
    padding-right: 260px;
}

.m-mode footer .wrap {
    padding-left: 0;
    padding-right: calc((100vw - 120px) * 0.4);
}

@media screen and (max-width: 480px)
{
    .m-mode footer .wrap {
        padding: 0;
    }
}

footer .img {
    left: auto;
    right: 0;
}

footer .copyright {
    text-align: left;
}

.m-mode footer .copyright {
    text-align: right;
}


/* ------------------ blog ---------------------- */
.blog-list.style-02.raw-proportion .item .img {
    left: auto;
    right: 0;
}

.pc-mode .blog-list .text-post.item .inner-wrap:before {
	left: auto;
    right: -20px;
}

.blog-list.style-02 .list-category {
    left: auto;
    right: 4vw;
}

.blog-list.style-01 a.more {
    left: 60px;
    right: auto;
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

.blog-list.style-01 a.more:before{
	left: auto;
	right: 0;
}

.blog-list.style-01 .item:hover a.more {
    left: 30px;
    right: auto;
}


/* ------------------ portfolio ---------------------- */
body:not(.m-mode) .fr-item-container .item:last-child {
    border-left: 100px solid transparent !important;
    border-right: 0 !important;
}

.pic-list.style-02 .item .text {
    left: auto;
    right: 0;
}

.pic-list.style-02 .item .text .h {
    padding-left: 40px;
    padding-right: 0;
}

body:not(.m-mode) .pic-list .pages {
    left: 50px;
    right: auto;
}

.list-title.style-01 .title-text.show h1:before {
    left: auto;
    right: -40px;
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

body > .list-title-bg {
    left: auto;
    right: 0;
}


/* ------------------ single ---------------------- */
.post-nav .post-next {
    text-align: left;
}

.post-nav .post-prev:after {
	left: auto;
    right: 20px;
}

.post-nav .post-next:after {
    left: 20px;
    right: auto;
}

.post-related .item {
    margin-left: 0;
    margin-right: 2%;
}

.post-related .text {
	padding: 0 30px 0 0;
    text-align: right;
}

#post-main.no-share .post-bar {
    text-align: right;
}

.pc-mode #post-main.no-share .post-meta .wrap > div {
    margin: 0 0 0 40px;
}

.post-meta .wrap > div {
    margin-left: 0;
    margin-right: 40px;
    text-align: right;
}

.post-meta a {
    margin-left: 8px;
    margin-right: 0;
}

.comment-body {
    padding-left: 120px;
    padding-right: 0;
}

#cancel-comment-reply-link:before {
    margin: 0 0 0 6px;
}

.comment-author .img {
    left: 0;
    right: -70px;
}

.comment-root .reply a {
    left: 0;
    right: auto;
}

.comment-meta, .comment-author .fn {
    margin-left: 20px;
	margin-right: 0;
}

li.comment.depth-1 li {
    padding: 60px 80px 0 0;
}
li.comment.depth-3 li{
	padding-left: 0 !important;
	padding-right: 20px !important;
}

.comment-root li.comment.depth-1 {
    padding: 40px 100px 50px 40px;
}

.comment-root li.comment.depth-1 {
    margin-right: 0 !important;
}

.post-extend h2:before {
    left: auto;
    right: 0;
}

.post-nav .post-prev:after {
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

.post-nav .post-next:after {
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

.post-tags span {
    margin: 6px 0 6px 10px;
}

body:not(.m-mode) .post-02 .post-tags a {
    margin: 0 0 4px 4px;
}

body:not(.m-mode) .post-02 .post-banner.h-short ~ .post-info {
    padding: 40px 80px 40px 40px;
}

.post-02 .post-boxed-wrap .share {
    left: auto;
    right: 80px;
}

.share a {
    margin-left: 4px;
    margin-right: 0;
}

.share > i {
    padding: 3px 40px 3px 0;
}

.share > i:before {
    left: auto;
    right: 0;
}

.post-info > .wrap {
    padding-left: 0;
    padding-right: 320px;
}

.post-info .title {
    left: auto;
    right: 0;
}

.post-tags {
    align-items: flex-start;
}

.post-02 .post-extend .text-03 .text {
    padding-left: 0;
    padding-right: 3.6vw;
}

body:not(.m-mode) .post-02 .post-extend .item.gap:first-child {
    margin-left: 6vw;
    margin-right: 0;
}

body:not(.m-mode) .post-02 .post-extend .item.gap {
    margin: 0 0 0 6vw;
}

.pc-mode main.post-02 .ptsc-list {
    margin-left: 6vw;
    margin-right: 0;
}

li.comment .star-rating {
    left: 0;
    right: auto;
}

.m-mode .share {
    left: 0;
    right: auto;
}

.share > i {
    padding: 3px 0 3px 40px;
}

.m-mode .share .wrap {
    left: 0;
    right: auto;
}

.m-mode .post-nav .post-prev:after {
    left: auto;
    right: 10px;
}

.m-mode .post-nav .post-next:after {
    left: 10px;
    right: auto;
}

body.m-mode .list-title.style-02 .intro {
    left: auto;
    right: 0 !important;
}

body.m-mode i.title-info {
    left: auto;
    right: 0;
}

body.m-mode .list-title.style-02 h1 {
    text-align: right;
    right: auto;
}

@media screen and (max-width: 678px)
{
    .list-title.style-01 .h:before {
        left: auto !important;
        right: -20px !important;
    }
}

body.m-mode .post-02 .post-boxed-wrap .post-banner.h-short ~ .post-info .share {
    left: auto;
    right: 0;
}

body.m-mode .post-02 .post-boxed-wrap .post-banner.h-short ~ .post-info .share .wrap {
    left: auto;
    right: 0;
}

i.close-m-right.btn:before {
    left: auto;
    right: 0;
}

/* --------------------- shop --------------------- */
.product-item .woocommerce-Price-currencySymbol {
    padding-left: 4px;
    padding-right: 0;
}

body.pc-mode .pic-list.style-01 .item.visible-last {
    padding-left: calc(3.4vw + 200px);
    padding-right: 3.4vw;
}

.pic-list span.price.has-del del {
	left: auto;
    right: 4px;
}

.wc-tabs a:before {
    margin-top: 10px;
    margin-bottom: 0;
}

body > .widget_shopping_cart_content .pt_widget_cart_wrap, body > header .pt_widget_cart_wrap {
    left: 0;
    right: auto;
}

.woocommerce-mini-cart__buttons a.checkout {
    margin-right: 4%;
    margin-left: 0;
}

.woocommerce-mini-cart__buttons a.button:before{
    margin-left: 10px;
    margin-right: 0;
}

.pt-cart-widget-thumb {
    left: auto;
    right: 0;
}

.pt_widget_cart_wrap a.remove {
    left: 10px;
    right: auto;
}

.pt_widget_cart_wrap li {
    padding-left: 0;
    padding-right: 80px;
}

body:not(.m-mode) .pic-list.has-pages .fr-item-container .item:last-child {
    border-left: 300px solid transparent !important;
    border-right: 4px solid transparent !important;
}

body:not(.m-mode) form.wide .single_add_to_cart_button {
    left: 0;
    right: auto;
}

body:not(.m-mode) form.cart td {
    padding: 0 0 0 15px;
}

#primary .summary {
    padding-left: 0;
    padding-right: 10%;
}

.des-text-wrap .content {
    padding-left: 20px;
    padding-right: 0;
}

.summary .woocommerce-review-link {
    margin-left: 0;
    margin-right: 10px;
}

.product_meta > span {
    margin-left: 10px;
    margin-right: 0;
}

.flex-control-thumbs li {
    margin-left: 10px;
    margin-right: 0;
}

table th {
    text-align: right;
}

.woocommerce-Reviews-title:before {
    padding-left: 4px;
}

.woocommerce-Reviews .comment_container {
    padding-left: 0;
    padding-right: 60px;
}

.woocommerce-Reviews .avatar {
    left: auto;
    right: 0;
}

.pc-mode .woocommerce-breadcrumb {
    top: 0px;
}

.woocommerce-breadcrumb {
    left: auto;
    right: 30px;
}

.comment-form-author, .comment-form-email {
    padding-left: 10px;
    padding-right: 0;
}

.wc-tabs-wrapper .comment-form > p.comment-form-email {
    padding-left: 0;
}

.comment-awaiting-moderation::before, .comment-notes::before {
    margin-left: 4px;
    margin-right: 0;
}

.onsale {
    left: 10px;
    right: auto;
}

.summary .price del, form.cart .price del, .related.products .price del, .up-sells.upsells .price del {
    padding-left: 0;
    padding-right: 10px;
}

.related.products > h2:before, .up-sells.upsells > h2:before, .default-template-page .title.h:before {
    left: auto;
    right: 0;
}

.woocommerce-MyAccount-navigation li:before {
    left: 10px;
    right: auto;
}

body:not(.m-mode) .woocommerce-MyAccount-navigation {
    margin-left: 30px;
    margin-right: 0;
}

.woocommerce-Address a.edit {
    left: 20px;
    right: auto;
}

input[name='update_cart'], button[name='update_cart'] {
    float: left;
}

.widget_price_filter .price_label {
    float: left;
}

.woocommerce-product-gallery__trigger {
    left: 0;
    right: auto;
}

.woocommerce-Reviews .comment-text:after {
    border-left: 10px solid #fff;
    border-right: 0;
    left: auto;
    right: -10px;
}

body.m-mode .wc-tabs a:before {
    padding-left: 5px;
}

.woocommerce-Tabs-panel .pt-area-roll-btn {
    left: 70px;
    right: auto;
}

body:not(.m-mode) header.style-01 ~ .main-content .list-title.style-02 i.title-info {
    right: calc( 4vw - 18px);
    left: auto;
}

/* ------------------- shortcode ---------------- */
.sc-slider .t-style-01 .text {
    left: auto;
    right: 10px;
    padding: 0 3vw 3vw 0;
}

.pt-swipe-dots {
    left: auto;
    right: 3vw;
}

.sc-mixbox .v-ctrl:not(.v-mobile-play) {
    left: 30px;
    right: auto;
}

input.wpcf7-submit {
    left: auto;
    right: -28px;
}

.pricing-table li i {
    padding-left: 6px;
    padding-right: 0;
}

.pricing-table ul:before {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -20px;
}

.pricing-table .price-amount i {
    left: auto;
    right: -6px;
}

/* ------------------ widget ------------------- */
.widget-title:before {
    left: auto;
    right: 0;
}

.widget .search-submit, .woocommerce-product-search input[type='submit'] {
    left: 0;
    right: auto;
}

.widget a {
    transition: unset;
}