/*
    Contact
    ========================================================================== */
	

	.sc-contactForm{

		.sc-inner{
			width: 100%;
		}

	}

	#form_menu{

		max-width: 80%;
		min-width: 80%;
		margin:0 auto;

		.header_form_menu{
			text-align: center;

			h5{
				font-size: 24px;
				line-height: 32px;
				color:white !important;
				font-weight: 400;
				font-family: 'Arista Pro Regular';

			}
			h3{
				font-size: 34px;
				color:white !important;
				font-family: 'Arista Pro Semibold';
				margin:30px 0px;
			}

		}

		.body_form_menu{

			width: 80%;
			margin:0 auto;

			.label{
				color:white !important;
				font-size: 18px;
				line-height: 18px;
				margin-bottom: 10px;
				font-family: 'Arista Pro Regular';
				padding-left: 20px;

				.asterisk{
					color:$di_green;
				}
			}

			.wpcf7-form-control-wrap{
				@include border-radius(40px);
				border:4px solid $di_green;
				overflow: hidden;
				display: inline-block;
				width: 100%;
				padding:8px;
				margin-bottom: 15px;
				position:relative;
				overflow: visible;

				input{
					@include border-radius(40px);
					border:0px;
					margin:0px;
					position:relative;
					font-size: 16px;
					color:$di_blue;
					border:1px solid white;
				}

				textarea{
					@include border-radius(20px);
				 	height: 110px;
				 	border:0px;
					margin:0px;
					font-size: 16px;
					color:$di_blue;
					border:1px solid white;
				}

				input.wpcf7-submit{
					position: inherit;
					left:initial;
					top:initial;
					height: auto !important;
					min-width: 110px;
				    padding: 3px 0 0 0 !important;
				    font-size: 18px;
				    line-height: 34px;
					font-family: 'Arista Pro Regular';
					color:$di_blue;
					background: white;
					@include border-radius(40px);
					border:0px;
					margin:0px;
					text-transform:none !important;
				}

				input.wpcf7-submit:hover{
					background: $di_green;
				}

				input.wpcf7-not-valid, textarea.wpcf7-not-valid{
					box-shadow: 0px 0px 20px red;

				}

				.wpcf7-not-valid-tip{
					color:$di_green;
					font-size: 12px;
					position: absolute;
				    top: -21px;
				    right: 20px;
				}
			}

			.your-message{
				@include border-radius(30px);
			}

			.wrap-submit{
				width: auto;
			}


			.wpcf7-form-control-wrap:after{
				content:'';
				display: block;
				width: 20px;
				height: 6px;
				position:absolute;
				left:20px;
				z-index: 2;
				bottom: -5px;
				background: $di_blue;
				border-radius: 5px;
				@include transition(all 0.3s ease-out);
			}

		}
	}

	.wpcf7-validation-errors, .wpcf7-mail-sent-ok{
		width: 60%;
		margin: 20px auto 0 auto !important;
		color:white;
		font-size: 14px;
		@include transition(all 0.3s ease-out);
	}

	.wpcf7-mail-sent-ok{
		background: $di_green;
		border:0px !important;
		padding: 8px !important;
		@include border-radius(4px !important);
		color:$di_blue;
		position: relative;
	}

	.wpcf7-mail-sent-ok:after{
		content:'';
		width: 0;
	    height: 0;
	    border-top: 10px solid $di_green;
	    border-right: 20px solid transparent;
	    position: absolute;
	    bottom:-10px;
	    left:50px;
	}

//  Media Queries
//  ==========================================================================


@media screen and (max-width: 600px){

	#form_menu{

		max-width: 100%;
		min-width: 100%;
		margin:0 auto;

		.header_form_menu{

			h5{
				font-size: 20px;
			}
		}

		.body_form_menu{

			width: 100%;
			margin:0 auto;
		}
	}

}