/*
    Legal
    ========================================================================== */

    .page-id-3, .page-id-1017{

    	h1, h2, h3{
    		font-family: 'Arista Pro Regular';
    	}

    	h1{
    		font-weight: 600;
    		color:$di_blue !important;
    	}

    	h2{
    		font-weight: 400;
    		color:$di_green !important;
    	}

    	h3{
    		font-weight: 400;
    		//color:$di_green !important;
    	}


    }

	

//  Media Queries
//  ==========================================================================
