/*
    About
    ========================================================================== */

	.title-text{

		h1{
			color:$di_blue !important;
			font-family: 'Arista Pro Regular';
			font-size: 18px !important;
			letter-spacing: 2px !important;
		}

	}

	.page-id-356{

		.item{
			border-right: 1px solid $di_blue;
		}

		h2{
			font-family:'Arista Pro Regular';
			font-size: 34px;
			font-weight: 400;
		}

		.sc-inner{
			height: 100%;

			.text{
				height: 100%;
				padding-top: 10%;

				.pt-area-roll-wrap{
					height: 100%;
					position:relative;

					.intro{
						max-height: inherit !important;
						height: 100%;
						//line-height: 30px;
						white-space: inherit;

						.hightlight{
							text-transform: uppercase;
							color:$di_green;
						}

						.img_center_center{
							/*
							position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translate(-50%,-50%);
						    */

						    display: block;
    						margin: 20% auto;
						}
					}
				}
			}
		}


		.ptsc .intro{
			color:$di_blue;
		}

		.ptsc .color-invert .intro{
			color:white;
		}

		.conocenos h2{
			color:$di_green !important;
		}

		.filosofia h2{
			color:$di_blue;
		}

		.gustavo h2{
			color:$di_blue;
		}

		.clientes h2{
			color:$di_green !important;
			margin-top: 32px;
		}

		.clientes .sc-inner{
			padding: 12vh 0% 12vh 27%;
		}

		.conocenos h2, .filosofia h2, .gustavo h2, .clientes h2{
			margin-left: -50px;
		}

		.bubble{
			background-repeat:no-repeat;
			background-position: top center;
			background-size: contain;
			padding-top: 70px;
			text-align: center;
			width: 100%;
			font-family:'Arista Pro Regular';
			font-size: 24px;
			font-weight: 400;
			margin: 10% auto 0 auto;
			/*
			position: absolute;
    		bottom: 0px;
    		*/
		}

		.bubble.white.right{
			background-image: url('../img/bubble_white_right.png');
			color:$di_green;
		}

		.bubble.white.left{
			background-image: url('../img/bubble_white_left.png');
			color:$di_green;
		}

		.bubble.green.right{
			background-image: url('../img/bubble_green_right.png');
			color:$di_blue;
		}

		.bubble.green.left{
			background-image: url('../img/bubble_green_left.png');
			color:$di_blue;
		}

		.bubble.blue.right{
			background-image: url('../img/bubble_blue_right.png');
			color:$di_green;
		}

		.bubble.blue.left{
			background-image: url('../img/bubble_blue_left.png');
			color:$di_green;
		}

		.gus_tribute{
			max-width: 280px;
			display: inline-block;

		}

		#gus_image {
		    position: relative;
		    padding-bottom: 56.25%;
		    padding-bottom: 76.25%;
		    height: 0;
		    overflow: hidden;

		    width: 120%;
    		margin-left: -10%;
		}
		#gus_image iframe {
		    position: absolute;
		    top:0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}


		.row {
		  display: flex;
		  flex-wrap: wrap;
		  padding: 0 4px;
		}

		/* Create four equal columns that sits next to each other */
		.column {
		  flex: 16.6%;
		  max-width: 16.6%;
		  padding: 0 4px;
		}

		.column img {
		  margin-top: 40px;
		  vertical-align: middle;
		  max-width: 100%;
		}

		/* Responsive layout - makes a two column-layout instead of four columns */
		@media screen and (max-width: 800px) {
		  .column {
		    flex: 50%;
		    max-width: 50%;
		  }
		}


	}


//  Media Queries
//  ==========================================================================


@media screen and (max-width: 1400px){

 	.page-id-356{

		.sc-inner{

			.text{
				padding-top: 0%;

				.pt-area-roll-wrap .intro .img_center_center{
					margin: 15% auto;
				}
			}
		}


		.conocenos h2, .filosofia h2, .gustavo h2, .clientes h2{
			margin-left: -20px;
		}

		.bubble{
			font-size: 22px;
		}


		.gus_tribute{
			max-width: 100%;
			display: inline-block;
		}

		#gus_image {

		    padding-bottom: 105%;
		    width: 180%;
    		margin-left: -45%;
    		transform: scale(0.8);
    		top: -70px;
		}

		.copy_bottom{
			margin-top: -25%;
		}
	}

}

@media screen and (max-width: 1100px){

 	.page-id-356{

		.item{
			border-right: 1px solid $di_blue;
		}


		.sc-inner{

			.text{

				.pt-area-roll-wrap .intro .img_center_center{
					margin: 10% auto;
				}
			}
		}


		.bubble{
			font-size: 19px;
		}


		#gus_image {

		    padding-bottom: 105%;
		    width: 180%;
    		margin-left: -37%;
    		transform: scale(0.6);
    		top: -50px;
		}

		.copy_bottom{
			margin-top: -45px;
		}
	}

}

@media screen and (max-width: 1023px){

 	.page-id-356{

		.item{
			border-right: 0px solid $di_blue;
			border-bottom: 1px solid $di_blue;
		}

		.sc-inner {
		    padding: 50px 10%;
		}

		.clientes .sc-inner {
		    padding: 10px 10%;
		}

		.sc-inner{

			.text{

				.pt-area-roll-wrap .intro .img_center_center{
					margin: 20% auto;
				}
			}
		}


		.bubble{
			font-size: 24px;
		}


		#gus_image {

		    padding-bottom: 105%;
		    width: 180%;
    		margin-left: -47%;
    		transform: scale(1);
    		top: 0px;
		}

		.copy_bottom{
			margin-top: 0px;
		}
	}

}

@media screen and (max-width: 768px){
	.page-id-356 .clientes h2, .page-id-356 .conocenos h2, .page-id-356 .filosofia h2, .page-id-356 .gustavo h2{
	    margin-left: 0px !important;
	}
	

	.page-id-356{
		.main-content .wrap{
			.item{
				.sc-inner{
				    padding: 10% 8% !important;
				}
			}
			
		}
	}

	.logos_clientes{
		.sc-inner{
		    padding: 0px 5% 30px 5% !important;
		}
	}

}

@media screen and (max-width: 600px){

 	.page-id-356{

		.bubble{
			font-size: 18px;
		}


		#gus_image {
    		margin-left: -42%;
    		transform: scale(0.6);
		}

		.row{
			margin-top: -50px;
		}

	}

}

@media screen and (max-width: 400px){

 	.page-id-356{

		#gus_image {
    		margin-left: -48%;
    		transform: scale(0.8);
    		padding-bottom: 126%;
		}

	}

}

@media screen and (max-width: 320px){

 	.page-id-356{

		#gus_image {
    		margin-left: -57%;
    		transform: scale(0.8);
    		padding-bottom: 156%;
		}

	}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}