/*
    Projects
    ========================================================================== */


	.page-template-page-portfolio{

		.list-widgets{
			display: none !important;
		}

		.main-content{

			.wrap{
				height: 100% !important;
    			top: 0px !important;
			}

			.pic-list.style-01>.wrap, .pic-list.style-01 .item {
			    padding: 0;
			    height: 100%;
			    border-right:1px solid $di_blue;
			    width: calc((80vw - 80px)/3;
			    overflow: visible;
			    @include transition(all 0.3s ease);

			    .project_link{
			    	overflow: hidden;
			    	display: block;
				    height: 100%;
				    width: 100%;
				    position: absolute;
				    z-index: 9;
				}

			    .img{
			    	position: absolute;
				    top: 50%;
				    right: -75px;
				    transform: translate(0%,-50%);
				    @include transition(all 0.5s cubic-bezier(.42,.97,.52,1.49) 0.3s);
				    @include opacity(0);
				    margin-right: -200px;
				    z-index: 2;

				    a.full, .list-icon, .mask{
				    	display: none !important;
				    }

			    }

			    .text{

			    	width: 100%;
    				height: 100%;

			    	@include transition(all 0.3s ease-out);
			    	@include opacity(1);

				    color:$di_blue;
				    font-family: 'Arista Pro Regular';

				    .data_project{
						position: absolute;
					    top: 0%;
					    left: 20%;
					    padding-top: 75%;
					    max-width: 50%;
    					overflow: hidden;
    					font-family: 'Arista Pro Semibold';

    					.h{
    						white-space: normal;
    						color: $di_blue !important;
    						font-size: 24px;
    						line-height: 24px;
    						font-weight: 500;
    						

	    					.mo-text-wrap .mo-line{
	    						background: rgba(0,255,208,1);
	    					}
    					}
    					.num_project{
    						color: $di_blue !important;
    						font-size: 45px !important;
    						line-height: 50px !important;
    						font-weight: 600;
    					}
				    }

				    .list-category{
				    	position: absolute;
					    top: inherit;
					    left: 10%;
					    bottom: 5%;
					    border-left:4px solid $di_green;
					    padding-left: 10px;
					    padding-top: 4px;

					    color: $di_blue !important;
				    	font-size: 18px !important;
				    	font-weight: 400;

					    a{
					    	color: $di_blue !important;
					    	font-size: 18px !important;
					    	font-weight: 400;

					    }

				    }

			    }

			    .back{
			    	position: absolute;
				    top: 0;
				    left: 0;
			    	width: 100%;
				    height: 100%;
				    display: block;
				    @include transition(all 0.3s ease);
				    @include opacity(0);

				    .di_categoria{
				    	color:white;
				    	font-size: 35px;
				    	position: absolute;
				    	bottom: 2%;
				    	left: 10%;
				    	z-index: 3;
				    	line-height: 45px;
				    	font-family: 'Arista Pro';
				    	font-weight: 600;
				    	text-transform: lowercase;

				    	@include transition(all 0.5s cubic-bezier(.42,.97,.52,1.49) 0.3s);
				    	@include opacity(0);

				    	transform: rotate(-90deg);
    					transform-origin: 0;


				    }
			    }
			}

			.pic-list.style-01 .item:hover{
				border-right:1px solid $white;

				.text{
					@include opacity(0);
					@include transition(all 0.3s ease 0.2s);
				}

				.img{
					opacity:1;
					margin-right: 0px;
				}

				.back{
					@include opacity(1);

					.di_categoria{

				    	@include transition(all 0.5s cubic-bezier(.42,.97,.52,1.49) 0.3s);
				    	@include opacity(1);

				    }
				}
			}

			.pic-list.style-01 .item.visible-last{
				border-right: 0px;
			}
		}

	}

	body.pc-mode .pic-list.style-01 .item.visible-last{
		padding-right: 0px !important;
	}


	/* SINGLE PROJECT */ 

	$proyectWidth : 1240px;

	.single-project{

		overflow-x: hidden !important;

		/* Banner */

		.post-banner{
			margin-top: 0px !important;
			.owl-carousel{
				padding:0px !important;
			}
		}

		/* General class */

		.di_row{

			width: 100%;
			overflow: hidden;

			font-family: 'Roboto';
			font-size: 18px;
			line-height: 24px;
			$min_standar_font: 15px;
			$max_standar_font: 18px;
			$standar_line_height:6px;
			@include fluid-type($min_width, $max_width, $min_standar_font, $max_standar_font, $standar_line_height);
			font-weight: normal;

			p{
				font-family: 'Roboto';
				font-size: 18px;
				line-height: 24px;
				$min_standar_font: 15px;
				$max_standar_font: 18px;
				$standar_line_height:6px;
				@include fluid-type($min_width, $max_width, $min_standar_font, $max_standar_font, $standar_line_height);
				font-weight: normal;
				
			}

			ul{
				padding-left: 8%;
				li{
					margin-bottom: 15px;
				}
			}


		}


		.di_container{
			max-width: $proyectWidth;
			margin: 0 auto;
		}

		.di_container_full{
			max-width: 100%;
			margin: 0 auto;
		}

		.di_container_inner{
			padding:20px 40px;
		}

		.di_container_full .di_container_inner.column_left{
			padding-left: calc((100% - #{$proyectWidth}) / 2);
		}

		.di_container_full .di_container_inner.column_right{
			padding-right: calc((100% - #{$proyectWidth}) / 2);
		}

		.di_row:not(.proy-data){
			padding:25px 0px;

			.di_container{
				.di_container_inner{
					-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    justify-content: space-between;
				}
			}
		}


		.di_row.invert_row{
			color:#ffffff;
		}

		.di_row.full_row{
			.di_container{
				max-width: 100%;
			}
		}

		.di_row.one_third_row{
			.di_container{
				.di_container_inner{
					width: 33.33% !important;
				}
			}
		}

		.di_row.one_two_row{
			.di_container{
				.di_container_inner{
					width: 50% !important;
				}
			}
		}

		.di_row.two_third_row{
			.di_container{
				.di_container_inner{
					width: 66.66% !important;
				}
			}
		}

		.di_row.left_row{
			text-align: left;
			.di_container{
				text-align: left;
				text-align: right;
				-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    justify-content: flex-start;
				.di_container_inner{
					text-align: left;
					justify-content: flex-start;
				}
			}
		}

		.di_row.right_row{
			text-align: right;
			.di_container{
				text-align: right;
				-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    justify-content: flex-end;
				.di_container_inner{
					text-align: right;
					justify-content: flex-end;
				}
			}
		}

		.di_row.center_row{
			text-align: center;
			.di_container{
				text-align: center;
				-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    justify-content: center;
				.di_container_inner{
					text-align: center;
					justify-content: center;
				}
			}
		}

		.di_row.row_before{
			position:relative;
			&:before{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				right: -200%;
				z-index: 2;
			}
		}

		.di_row.one_third_row.row_before{
			&:before{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				right: 33.33%;
			}
		}

		.di_row.one_two_row.row_before{
			&:before{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				right: 50%;
			}
		}

		.di_row.two_third_row.row_before{
			&:before{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				right: 66.66%;
			}
		}

		.di_row.row_after{
			position:relative;
			&:after{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				left: -200%;
				z-index: 2;
			}
		}

		.di_row.one_third_row.row_after{
			&:after{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				left: 33.33%;
				z-index: 2;
			}
		}

		.di_row.one_two_row.row_after{
			&:after{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				left: 50%;
				z-index: 2;
			}
		}

		.di_row.two_third_row.row_after{
			&:after{
				content:'';
				width: 2000px;
				height: 100%;
				position: absolute;
				display: block;
				background: transparent;
				top:0%;
				left: 66.66%;
				z-index: 2;
			}
		}
	    


		/* Datos del proyecto */

		$image_offset_bottom:50px;

		.proy-projectdetail-information{

			flex-wrap: wrap;
    		display: flex;
    		padding-bottom: $image_offset_bottom;

			.proy-projectdetail-information_column{
				width: 50%;
				float:left;
			}

			.proy-projectdetail-information_column_description, .proy-projectdetail-information_column_data{
				padding-top: 30px;
				justify-content: space-between;
			    flex-wrap: wrap;
			    display: flex;
			}

			.proy-projectdetail-information_description{

				position:relative;
				margin-bottom:20px;

				$min_main_description_font: 20px;
				$max_main_description_font: 65px;
				$main_description_line_height:1px;

				.di_description_text_line{
					position: relative;
					z-index: 2;
					font-family: 'Skrova Line';
					text-transform: uppercase;
					font-weight: 100;
					word-break: break-word;
					@include fluid-type($min_width, $max_width, $min_main_description_font, $max_main_description_font, $main_description_line_height);
				}

				.di_description_text_back{
					color: #ffffff;
					position: absolute;
					z-index: 1;
					font-family: 'Skrova Back';
					text-transform: uppercase;
					font-weight: 100;
					word-break: break-word;
					@include fluid-type($min_width, $max_width, $min_main_description_font, $max_main_description_font, $main_description_line_height);
					left:-1px;
					top:-1px;
				}
			}

			.proy-projectdetail-information_data, .proy-projectdetail-information_image{
				align-self: flex-end;
				position: relative;
				z-index: 2;
			}

			.proy-projectdetail-information_data{
				margin-bottom: 30px;
				a{
					color:#ffffff;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}


			
			.proy-projectdetail-information_image{
			    position: relative;
    			bottom: - $image_offset_bottom;//50px;
    			img{
    				max-width: 100%;
    			}
    		}

		}

		.data_item_label, h2{
			font-family: 'Arista Pro Bold';
			font-family: 'Arista Pro';
			font-size: 24px;
			line-height: 30px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 10px;
			margin-top: 0px;
			color: #ffffff;
		}

		.data_item_value{
			margin-top: -15px;
			margin-bottom: 15px;
			color: #ffffff;
		}

		.invert_row h2{
			color: #ffffff !important;
		}


		/* Tipos de fila */

		/* Solo imagen */

		.image_box{
			padding:0px;
			text-align: center;
			img{
				max-width: 100%;
				margin: 0 auto;
			}
		}

		/* Texto e imagen - Imagen y texto */

		.text_wrap{
			width: 33.33%;
		}



		/* Anterior - Siguiente */

		.post-nav{

			.text{
				span{
					//color:$di_green;
					text-transform: uppercase;
				}
				h5{
					color:$di_blue;
					font-family: 'Arista Pro Regular';
					font-weight: 600;
					font-size: 24px;
					@include opacity(1);
				}
			}


			.post-prev, .post-next{
				background-repeat: no-repeat;
				background-position: center bottom;
				background-color: transparent;
				padding-bottom: 70px;
			}

			.post-prev:after, .post-next:after{
				color:$di_blue;
			}

			.post-prev{
				background-image: url(../img/bubble_green_left_bottom.png);

			}

			.post-next{
				background-image: url(../img/bubble_green_right_bottom.png);
			}
		}

		/* Relacionados */

		.post-related{
			background: $di_blue;

			.title{
				color:white;
				font-family: 'Arista Pro Regular';
				font-weight: 400;
			}

			.mask_related{
				position: absolute;
    			z-index: 2;
    			bottom: 0;
			}

			.text{

				.category{
					//text-transform: uppercase;
				}

				h5{
					color: $di_blue;
					font-family: 'Arista Pro Regular';
					font-weight: 400;
					font-size: 18px;
				}
			}
		}

	}

//  Media Queries
//  ==========================================================================
  

 @media screen and (max-width: 1023px){

  	.page-template-page-portfolio{

		.main-content{

			.pic-list.style-01 .item, .pic-list.style-01>.wrap {
			    border-right:0px solid $di_blue !important;
			    border-bottom:1px solid $di_blue !important;
			    padding-bottom: 20px !important;
				
				.project_link{
					display: none;
				}

			    .img{
			    	position: relative;
			    	width: 100% !important;
			    	@include opacity(1);
			    	margin-right: 0px;

			    	right:initial;
			    	top:initial;
			    	@include transform(translate(0,0));
			    	display:none;

			    }

			    .text{
			    	width: auto;
    				height: auto;

    				.data_project{
    					position: relative;
    					right:initial;
			    		top:initial;
			    		left:initial;
			    		@include transform(translate(0,0));
			    		padding: 5% 5% 10% 10%;
    					max-width: 80%;

    					.mo-text-wrap abbr.mo-text-inner{
    						@include opacity(1);
    					}

			    	}
			    }

			    .back{
			    	display: none;
			    }
			}

			.pic-list.style-01 .item:hover{
				border-right:1px solid $di_blue;

				.text{
					@include opacity(1);
					@include transition(all 0.3s ease 0.2s);
				}
			}
		}
	}


	/* SINGLE PROJECT */ 


	/* Anterior - Siguiente */

	.post-nav{

		.post-prev, .post-next{
			padding-bottom: 30px !important;
			border-bottom:3px solid $di_green;
		}

		.post-prev, .post-next{
			background-image: none !important;
		}
	}

}


$paddingResponsive : 6%;


@media screen and (max-width: 1024px){
	$proyectWidth : 990px;

	.single-project{

		.post-content{
	    	max-width: 100% !important;

	    	.di_container{
				max-width: $proyectWidth;
				margin: 0 auto;
			}

			.di_container_full .di_container_inner.column_left{
				padding-left: $paddingResponsive;
			}

			.di_container_full .di_container_inner.column_right{
				padding-right: $paddingResponsive;
			}
			
	    	.proy-projectdetail{

	    		.proy-projectdetail-row{
	    			padding: 0 $paddingResponsive;
	    		}
	    	}
	    	
	    }
	}

}

@media screen and (min-width: 768px){

}

@media screen and (max-width: 768px){

	$proyectWidth : 720px;

	.single-project{

		.post-content{
	    	max-width: 100% !important;

	    	.di_container{
				max-width: $proyectWidth;
				margin: 0 auto;
			}

			.di_container_full .di_container_inner.column_left{
				padding-left: $paddingResponsive;
			}

			.di_container_full .di_container_inner.column_right{
				padding-right: $paddingResponsive;
			}
			
	    	.proy-projectdetail{

	    		.proy-projectdetail-row{
	    			padding: 0 $paddingResponsive;
	    		}
	    	}
	    	
	    }
	}
}