/*
    Services
    ========================================================================== */

	.page-id-507{

		.main-content .wrap{

			.hover-item{

				border-right:1px solid $di_blue;

				.img{
					.mask{
						background: rgba(0,255,208,1);
					}
				}

				.text{

					h1{
						font-family: 'Arista Pro Regular';
						color:$di_blue;
						font-size: 34px;
						line-height: 40px;
					}

					.pt-area-roll-wrap{

						@include opacity(0);
						height: 0;
						max-height: 0px;
						overflow: hidden;

						border-top: 2px solid white;
						padding-top: 20px;
						
						.intro{

							white-space: inherit;

							ul{
								margin:20px 0 0 0;
								line-height: 28px;

								li{
									line-height: 28px;
									font-size: 16px;
								    text-transform: uppercase;
								    margin: 0px;
								    padding: 0px;
								    font-family: Arista Pro Regular;
    								letter-spacing: 1px;
								}
							}
						}

					}

					.sc-btn{

						@include opacity(0);
						height: 0;
						max-height: 0px;
						overflow: hidden;
						@include transition(all 0.3s ease-out);

						@include border-radius(40px);
						border:0px solid $di_green;
						display: inline-block;
						width: auto;
						padding:0px;
						margin-bottom: 0px;
						position:relative;

						a{
							font-family:  'Arista Pro Regular';
							color:$di_blue;
							font-size: 18px;
							background: white;
						}

						a:hover{
							color:$di_blue !important;
							background: $di_green;
						}

					}

					.sc-btn:after{
						content:'';
						display: block;
						width: 20px;
						height: 6px;
						position:absolute;
						left:20px;
						z-index: 2;
						bottom: -5px;
						background: $di_blue;
						border-radius: 5px;
						@include transition(all 0.3s ease-out);
					}
				}

			}

			.hover-item:hover{

				.text{

					.pt-area-roll-wrap{
						@include opacity(1);
						height: auto;
						max-height: 1000px;
						@include transition(all 0.6s ease-in-out 0s);
					}

					.sc-btn{
						@include opacity(1);
						height: auto;
						padding:8px;
						margin-bottom: 15px;
						max-height: 200px;
						border:4px solid $di_green;
						@include transition(all 0.5s ease-out 0s);
					}
				}
			}

		}

	}


//  Media Queries
//  ==========================================================================
   

@media screen and (max-width: 1023px){

    .page-id-507{

		.main-content .wrap{


			.hover-item{

				border-right: 0px solid #3070cc;
				border-bottom: 1px solid white;

				.sc-inner{
				    padding: 50px 10% !important;
				}

				.text{

					.pt-area-roll-wrap{
						@include opacity(1);
						height: auto;
						max-height: 2000px;
					}

					.sc-btn{
						@include opacity(1);
						height: auto;
						max-height: 2000px;
						overflow: visible;
					    padding: 8px;
					    border: 4px solid #2cffd1;

					    a{
					    	padding:3px 15px;
					    }
					}
				}
			}

		}

	}

}





