//  Colors
//  ==========================================================================

    // Base Colors
    // ----------------------------------------------------------
    $di_green               : #2cffd1;
    $di_green_dark          : #2ed9c3;
    $di_blue				: #3070cc;
    $di_blue_dark           : #1050C3;

    $di_red			        : #e40421;


    //$color-body             : $ener-dark-gray;
    //$color-body-bg          : $ener-white;





    // Variations
    // $primary-light        : adjust-lightness($primary,15%);
    // $secondary-light      : adjust-lightness($secondary,20%);




