//  ==========================================================================
//  General site settings
//  ==========================================================================


//  Transition
//  ==========================================================================
	$transition-value   : 300ms;
	$transition         : true;


//  Typography
//  ==========================================================================

    $trade-regular  :Trade Regular;
    $trade-bold     : Trade Bold;


	$base-font-size : 13px; 
	$font-1         : $trade-regular, Helvetica, Arial, sans-serif;

	$baseline       : $base-font-size * 1.5;



//  Positioning
//  ==========================================================================






