//  ==========================================================================
//  Table of Content

//	- Colors
//	- Font Sizing - Rem:
//		- Font Sizing
//		- Font Sizing with Line-height
//	- Transitions
//	- Truncate String
//	- Group
//  - Hide Text

//  ==========================================================================

/// Adds a browser prefix to the property
/// @param {*} $property Property
/// @param {*} $value Value

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

//  ==========================================================================
//  Colors
//  ==========================================================================

@function color($color, $tone: 'base') {
  @if map-has-key($colors, $color) {
	@return map-get(map-get($colors, $color), $tone);
  }

  @warn "Unknown `#{$color}` in $colors.";
  @return null;
}

//  ==========================================================================
//  Rem size calculation
//  ==========================================================================

// @params: size in pixel
// @usage: padding: fz(10 0 20 0);
@function rem($decimal-sizes: 0){

	$result : ();
	@each $decimal-size in $decimal-sizes {

		$value: 0;
		@if($decimal-size > 0){
			$value : ($decimal-size / $font-size-root-raw) * 1rem;
		}

		$result: append($result, $value);
	}
	@return $result;
}

//  ==========================================================================
//  Font Sizing - Rem - ex. @include font-size(13px);
//  ==========================================================================

//  Font Sizing
//  ==========================================================================

//  Rem Unit font sizes with relative fallback
//  @link: http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
//  Sizes:
//  xx-small
//  x-small
//  small
//  medium
//  large
//  x-large
//  xx-large
//  @usage: @include font-size(1, large);

@mixin font-size( $decimal-size, $keyword: null ) {
	$base-font-multiplier: 1;
	@if $keyword { font-size: $keyword; }
	@else { font-size: $decimal-size * $base-font-multiplier * $font-size-root; }
	font-size: $decimal-size * 1rem;
}


// OLD Solution for REM compatibility
//@mixin font-size($sizeValue: $base-font-size) {
//  	@include get-rem(font-size, $sizeValue);
//}


//  ==========================================================================
//  Rem size calculation with px as fallback
//
//  usage: @include get-rem(font-size, 14px)
//  usage: @include get-rem(marign, 0 12px 2 1.2)
//  usage: @include get-rem(padding, 1.5 24px)
//
//  thanks to Eric Meyer for https://github.com/ericam/susy
//  Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
//  and Steffen Rademacker for https://gist.github.com/webgefrickel/4530526
//  ==========================================================================

@mixin get-rem($property, $values) {

	// Create a couple of empty lists as output buffers.
	$this-base-font-size: $base-font-size; // should be consistent with your html/body font-size
	$px-values: ();
	$rem-values: ();

	// Loop through the $values list
	@each $value in $values {
	  // For each property value, if it's in rem or px, derive both rem and
	  // px values for it and add those to the end of the appropriate buffer.
	  // Ensure all pixel values are rounded to the nearest pixel.
	  @if $value == 0 or $value == 0px {
		// 0 -- use it without a unit
		$px-values: join($px-values, 0);
		$rem-values: join($rem-values, 0);
	  } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
		// px value given - calculate rem value from this-base-font-size
		$new-rem-value: $value / $this-base-font-size;
		$px-values: join($px-values, round($value));
		$rem-values: join($rem-values, #{$new-rem-value}rem);
	  } @else {
		// unitless value - use those directly as rem and calculate the px-fallback
		$px-values: join($px-values, round($value * $this-base-font-size));
		$rem-values: join($rem-values, #{$value}rem);
	  }
		//@else if $value == auto or $value == inherit {
		//  // auto or inherit - don't add px or rem
		//  $px-values: join($px-values, $value);
		//  $rem-values: join($rem-values, $value);
		//}
	}

	// output the converted rules
	#{$property}: $px-values;
	#{$property}: $rem-values;

}

//  ==========================================================================
//  Fluid Font size
//  ==========================================================================

/*
    Font sizes Fluid */

	@function strip-unit($value) {
	  @return $value / ($value * 0 + 1);
	}

	@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $line-height) {
	  $u1: unit($min-vw);
	  $u2: unit($max-vw);
	  $u3: unit($min-font-size);
	  $u4: unit($max-font-size);

	  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
	    & {
	      font-size: $min-font-size;
	      line-height: calc(#{$min-font-size} + 6px);
	      @media screen and (min-width: $min-vw) {
	        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
	        line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}) + #{$line-height});
	      }
	      @media screen and (min-width: $max-vw) {
	        font-size: $max-font-size;
	        line-height: calc(#{$max-font-size} + #{$line-height});
	      }
	    }
	  }
	}

	$min_width: 320px;
	$max_width: 1200px;

//  ==========================================================================
//  Font Family
//  ==========================================================================

@function font-family($font: 'base') {
  @if map-has-key($fonts, $font) {
	@return map-get($fonts, $font);
  }

  @warn "Unknown `#{$font}` in $fonts.";
  @return null;
}


//  ==========================================================================
//  Box Shadow
//  ==========================================================================
/*
@mixin box-shadow($shadow...) {
	@if $enable-shadows {
		box-shadow: $shadow;
	}
}
*/
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
//  ==========================================================================
//  Border radius
//  ==========================================================================

@mixin border-radius($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//  ==========================================================================
//  Transitions
//  ==========================================================================
/*
@mixin transition($transition...) {
	@if $enable-transitions {
		transition: $transition;
	}
}
*/
//@mixin ld-transition($value:$transition-value) {
//
//    @if($transition){
//        @if($value){
//            @include transition($value);
//        }
//    }
//}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//  ==========================================================================
//  keyframes
//  ==========================================================================
// 

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

//  ==========================================================================
//  Animations
//  ==========================================================================
//  
@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation, $duration, $ease, $direction: forward, $fillmode: fowards, $delay: 0, $counter:0) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;
    -webkit-animation-timing-function: $ease;
    -webkit-animation-iteration-count: $counter;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;
    -moz-animation-timing-function: $ease;
    -moz-animation-iteration-count: $counter;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
    animation-timing-function: $ease;
    animation-iteration-count: $counter;
}


//  Transforms
//  ==========================================================================

// Browser Prefixes
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    	-webkit-transform-origin: $origin;
    	-moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	transform-origin: $origin;
}

//  Opacity
//  ==========================================================================
//  
/*
@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}
*/
@mixin opacity($opacity, $important: 0) {
  @if $important == 1 {
    opacity: $opacity !important;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie) !important; //IE8
  }
  @else {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
  }
}


//  Text shadow
//  ==========================================================================


@mixin text-shadow($horizOffset, $vertOffset, $blur, $color) {
    -webkit-text-shadow: $horizOffset $vertOffset $blur $color;
    -moz-text-shadow: $horizOffset $vertOffset $blur $color;
    -ms-text-shadow: $horizOffset $vertOffset $blur $color; /* IE 10+ */
    -o-text-shadow: $horizOffset $vertOffset $blur $color;
    text-shadow: $horizOffset $vertOffset $blur $color;
}




//  Truncate String
//  ==========================================================================

@mixin truncate-string(){

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

//  Group
//  ==========================================================================

@mixin group() {

	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

//  Centering
//  ==========================================================================

//  Centering With Sass
//  @link:  http://www.sitepoint.com/centering-with-sass/
//  @usage: @include center(500px, 500px);

@mixin center-item($width: null, $height: null) {
	position: absolute;
	top: 50%;
	left: 50%;

	@if not $width and not $height {
		transform: translate(-50%, -50%);
	} @else if $width and $height {
		width: $width;
		height: $height;
		margin: -($width / 2) #{0 0} -($height / 2);
	} @else if not $height {
		width: $width;
		margin-left: -($width / 2);
		transform: translateY(-50%);
	} @else {
		height: $height;
		margin-top: -($height / 2);
		transform: translateX(-50%);
	}
}

//  Container Printing
//  ==========================================================================

@function mapReverse ($map) {
	$result: null;

	@if type-of($map) == "map" {
		$keys: map-keys($map);
		$map-reversed: ();

		@for $i from length($keys) through 1 {
			$map-reversed: map-merge(
				$map-reversed,
				(nth($keys, $i): map-get($map, nth($keys, $i)))
			);
		}

		@if type-of($map-reversed) == "map" {
			$result: $map-reversed;
		} @else {
			@warn 'There was an error reversing the order of "#{$map}"';
		}
	} @else {
		@warn '"#{$map}" is not a valid map';
	}

	@return $result;
}


//  Centering Container
@mixin center-display-compact($max-width, $pad){
	max-width: $max-width;
	padding: {
		left:  $pad;
		right: $pad;
	};
}

@mixin center-container($width: null, $pad: null, $display-full: false ) {
	@if($display-full){
		// Compact display
		@include center-display-compact($width, $pad);
	}@else{
		// Jeet full display
		@include center($width, $pad);
	}
}

@mixin print-containers() {

	$i : 0;
	$direction : null;

	@if($is-mobile-first == false){ $direction : down; }

	@if($direction == down){ $breakpoints : mapReverse($breakpoints); }

	@each $breakpoint in map-keys($breakpoints) {

		@include breakpoint($breakpoint $direction){
			@if( map-get($breakpoints, $breakpoint) != 0 ){
				.container{
					$width : map-get($container-max-widths, $breakpoint);
					$pad   : map-get($grid-column-gutter, $breakpoint);

					@if(($i > 1 and $direction == null) or ($i > 0 and $direction == down)){
						@include center-container($width, $pad, true);
					}@else{
						@include center-container($width, $pad);
					}

				}
			}
		}
		$i : $i + 1;
	}

}


//  Hide Text
//  ==========================================================================

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//  Multiline Ellipsis and Overwrite
//  ==========================================================================

@mixin multiline-ellipsis($height, $lineheight:1.5, $ellipsiswidth: 3em, $color: #000) {

//	$ellipsiswidth: 3em !default;

	overflow: hidden;
	height: $height;
	line-height: $lineheight;

	&:before {
		content:"";
		float: left;
		width: 5px; 
		height: $height;
	}

	> *:first-child {
		float: right;
		width: 100%;
		margin-left: -5px;
	}

	&:after {
//		content: "\02026";
		
		content: "...";

		float: right;
		position: relative;
		top: -20px;
		left: 95%;
		display: block;
		color: $color;
		width: $ellipsiswidth;
		margin-left: -$ellipsiswidth;
		padding-right: 5px;

		text-align: right;
		background: white;
		background: -webkit-gradient(linear, left top, right top,
				from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
		background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		
	}

}

@mixin multiline-ellipsis-overwrite($height, $lineheight: 1.5, $left:95%){
	height: $height;
	line-height: $lineheight;

	&:before {
		height: $height;
	}

	&:after{
		left: $left;
	}

}

@mixin ellipsis ($max-height, $lines: 2) {
  // Fallback for non-webkit browsers.
  // Fallback does not render ellipsis.
  overflow: hidden;
  max-height: $max-height;
	
  // Webkit solution for multiline ellipsis
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;  
  
  // Solution for Opera
  text-overflow: -o-ellipsis-lastline;
}


@mixin ellipsis_2($font-size, $line-height, $lines-to-show:2){
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  //max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


$white: #FFFFFF;

@mixin excerpt($font-size: $paragraph-font-size, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      background: $excerpt-bg;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: auto;
    }
    &:after {
      content: '';
      background: $excerpt-bg;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}



  



//  Background gradient
//  ==========================================================================

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}