/*
    Footer
    ========================================================================== */
	
	footer .wrap{
		top: 50%;
    	transform: translate(0, -50%);
	}
	
	footer.open{
		height: 100%;

		.footer_title{
			position: relative;
		}

		h5{
			font-weight: 400;
			font-size: 60px !important;
			line-height: 50px !important;
			text-transform: uppercase;
		}

		h5.line{
			color:$di_green !important;
			font-family: 'Skrova Line';
			position: relative;
			z-index: 2;
		}

		h5.back{
			color:white !important;
			font-family: 'Skrova Back';
			position: absolute;
			z-index: 1;
			top: -10px;
    		left: 0px;
    		text-shadow: 0 0 2px rgba(255,255,255,1);
		}

		.text-area{
			color:white !important;


			a{
				@include transition(all 0.3s ease);
			}

			a:hover{
				color:$di_green !important;
			}

			.pt-social{
				//margin-top: 100px;

				a{
					background: white;
					i{
						color:$di_blue;
					}
				}
			}
		}

		.close-footer.btn{
			color:$di_blue !important;
			background: white;
		}

		i.close-footer:before{
			color:$di_blue !important;
		}

		.close-footer.btn:hover{
			background: $di_green !important;
		}

		.copyright{
			color:$di_green;
			font-family: 'Arista Pro Regular';
			font-size: 40px;
			font-weight: 400;
		}
	}

	footer > i.btn:hover{
		@include box-shadow(0,0,0,rgba(0,0,0,0));
	}


	footer .text-area{

		.hidden-xs{
			display: inline-block;
		}
		.show-xs{
			display: none;
		}
	}

	// Go to Top


	

	// Fixed footer

	

//  Media Queries
//  ==========================================================================


 @media screen and (max-width: 1023px){
	
	footer .wrap{
		@include transform(translate(0,0));
	}

	footer{
		height: 100%;

		.footer_title{
			position: relative;
		}

		h5{
			font-weight: 400;
			font-size: 32px !important;
			line-height: 32px !important;
			text-transform: uppercase;
		}

		h5.line{
			color:$di_green !important;
			font-family: 'Skrova Line';
			position: relative;
			z-index: 2;
		}

		h5.back{
			color:white !important;
			font-family: 'Skrova Back';
			position: absolute;
			z-index: 1;
			top: -10px;
    		left: 0px;
    		text-shadow: 0 0 2px rgba(255,255,255,1);
		}

		.text-area{
			color:white !important;
			font-size: 16px;

			.hidden-xs{
				display: none !important;
			}
			.show-xs{
				display: block !important;
			}

			a{
				@include transition(all 0.3s ease);
			}

			a:hover{
				color:$di_green !important;
			}

			.pt-social{
				//margin-top: 100px;

				a{
					background: white;
					i{
						color:$di_blue;
					}
				}
			}
		}

		.close-footer.btn{
			color:$di_blue !important;
			background: white;
		}

		i.close-footer:before{
			color:$di_blue !important;
		}

		.close-footer.btn:hover{
			background: $di_green !important;
		}

		.copyright{
			color:$di_green;
			font-family: 'Arista Pro Regular';
			font-size: 30px;
			font-weight: 400;
		}
	}
	
}

 @media screen and (max-width: 500px){

 	footer .footer_title{
 		display: none;
 	}

 	footer .text-area a.has-line{
 		margin-top: 20px;
    	display: inline-block;
    	padding-left: 10px;
 	}

 }