/*
    Header
    ========================================================================== */

    $logo_font_size: 60px;

    .di_logo_text_line{
    	color:$di_blue;
    	@include transition(all 0.3s ease);
    }

    .di_logo_text_back{
    	color:white;
    	@include transition(all 0.3s ease);
    }

    #Logo_bubble{
    	fill:$di_green;
    	@include transition(all 0.3s ease);
    }

    .logo{
    	position: relative;
    	display: block;
    	width: 50px;
    	height: 50px;

    	a{
    		position: absolute;
    		top: 40px;
    		left: 50px;

    		.di_box_logo{
    			position: relative;

    			.di_logo_text_box{
    				position: relative;
    				@include transition(all 0.3s ease);

    				.di_logo_text_line{
    					position: absolute;
    					z-index: 2;
    					font-family: 'Skrova Line';
    					font-size: $logo_font_size;
    				}

    				.di_logo_text_back{
    					position: absolute;
    					z-index: 1;
						font-family: 'Skrova Back';
						font-size: $logo_font_size;
						left:-1px;
						top:1px;
    				}

    				.di_logo_text_line, .di_logo_text_back{
    					display: inline-block;
    					@include opacity(0);
    					@include animation(fadeInFromNone, 0.5s, ease-out, forward, forwards,1s,1);
    					min-width: calc(#{$logo_font_size} + 20px);
    				}

    			}

    			.di_logo_text_box.moveLeft{
    				@include animation(moveLogoToLeft, 0.3s, ease-out, normal, none,1s,1);
    			}

    			.di_logo_bubble_box{

    				@include opacity(0);
    				@include animation(fadeInFromNone, 0.5s, ease-out, forward, forwards,0.8s,1);

    				position: relative;
				    margin-left: -17px;
				    top: -17px;

    				#Di_logo_bubble{
    					min-width: calc(#{$logo_font_size} + 30px);
    					max-width: calc(#{$logo_font_size} + 30px);
    				}

    			}


    		}
    	}
    }



    .logo:hover{

	    .di_logo_text_line{
	    	color:$di_green;
	    	margin-left: 10px;
	    }

	    .di_logo_text_back{
	    	color:white;
	    	margin-left: 10px;
	    }

	    #Logo_bubble{
	    	fill:$di_blue;
	    	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			transform: translate3d(0, 0, 0);
			backface-visibility: hidden;
			perspective: 1000px;
	    }

    }

    @-webkit-keyframes moveLogoToLeft {
	    0% { right: -30px;}
	    100%{ right: 0px;}
	}

	@-webkit-keyframes moveLogoToRight {
	    0% { right: 0px;}
	    100%{ right: -10px !important;}
	}

	@keyframes shake {
	  10%, 90% {
	    transform: translate3d(-1px, 0, 0);
	  }
	  
	  20%, 80% {
	    transform: translate3d(2px, 0, 0);
	  }

	  30%, 50%, 70% {
	    transform: translate3d(-4px, 0, 0);
	  }

	  40%, 60% {
	    transform: translate3d(4px, 0, 0);
	  }
	}


	/* NAV */

	header.style-05 .wrap > i.btn {
		color:$di_blue;
	}

	header em.bg{
		background: $di_blue;
	}

	header.style-05 .main-menu>ul>li:nth-child(2n+1) em.bg:after, .sub-menu-wrap li:nth-child(2n+1) em.bg:after{
		background: $di_green;
	}


    .m-logo img {
        max-height: 74px;
        margin-top: 40px;
        width: auto;
    }


    /* COOKIES */

    .cc_container{
        background: $di_blue !important;
        font-size: 14px !important;
        font-family: 'Roboto' !important;
        font-weight: 400 !important;
        padding: 20px 20px 80px 20px !important;
    }

    .cc_container .cc_message{
        line-height: 20px !important;

        a{
            color:$di_green !important;
        }
        a:hover{
            text-decoration: underline !important;
        }
    }

    .cc_container .cc_btn, .cc_container .cc_btn:visited{
        background: white !important;
        color:$di_blue !important;
        font-family: 'Arista Pro Regular' !important;
        font-size: 18px !important;
        border-radius: 40px !important;
        bottom: 25px !important;
        left:initial !important;
        right:initial !important;

        box-shadow: 0 0 1px 4px $di_blue, 0 0 1px 8px $di_green;
    }

    .cc_container .cc_btn:after{
        content:'';
        width: 20px;
        height: 6px;
        position: absolute;
        background: $di_blue;
        bottom: -9px;
        left: 12px;
        z-index: 2;
        border-radius:10px;
    }

    .cc_container .cc_btn:hover{
        background: $di_green !important;
    }

    .cc_container .cc_logo{
        display: none !important;
    }

	
//  Media Queries
//  ==========================================================================



@media screen and (min-width: 500px){

    .cc_container{
        width: 290px !important;
    }
    .cc_container .cc_message {
        font-size: 14px !important;
    }
}
