/*
	Navigation
	========================================================================== */

	.main-menu{
		background: white;

	    #main-menu-list{

			.menu-item{
				a{
					font-family: 'Arista Pro';
					font-size: 45px;
					color:$di_blue;

					.hoverLine{
						width: 40px;
						min-width: 40px !important;
						background-color:$di_blue;
						left: 0px;
	    				height: 4px;
					}
				}
			}

			.menu-item.current-menu-item{
				a{
					.hoverLine{
						width: 100% !important;
						min-width: 100% !important;
					}
				}

			}

			.menu-item:nth-child(2n), .sub-menu-wrap li:nth-child(2n+1){

				a{
					color:white !important;
					.hoverLine{
						background-color:white !important;
					}
				}

			}

			#wpcf7-f10-o1{
				z-index: 9;
				width: 100%;
				right: -1000px;
				@include transition(all 0.5s cubic-bezier(.42,.97,.52,1.10) 0s);
			}


		}

	}

	.open .main-menu #main-menu-list #wpcf7-f10-o1{
		right: 0 !important;
		@include transition(all 0.5s cubic-bezier(.42,.97,.52,1.10) 0.6s);
	}


	/* NAV MOBILE */

	.call-m-left:before{
		font-size: 24px !important;
		color:$di_blue;
	}

//  Media Queries
//  ==========================================================================

 
@media screen and (max-width: 1023px){

	.m-side-group{

		.m-side{
			background: $di_blue;
			text-align: center;

			.logo_menu_mobile{
				margin: 0 auto 30px auto;
				max-width: 100px;
			}

			.m-menu-list{
				text-align: center;

				.menu-item{
					padding: 20px 0px 20px 0px;

					a{
						font-family: 'Arista Pro Regular';
						font-size: 28px;
						@include transition(all 0.3s ease);
					}
					
					a:hover{
						color:$di_green;
					}
				}

				.menu-item:after{
					display: none;
				}

				.menu-item.current_page_item{
					a{
						color:$di_green;
					}
				}

				.menu-item-type-gs_sim{
					display: none;
				}


			}
		}

	}


}
