


$FontsPathArista: "../fonts/Arista_Pro" !default;

/* ==========================================================================
   Arista Pro
   ========================================================================== */


/* BEGIN */
@font-face {
    font-family: 'Arista Pro Extra Light';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-ExtraLight.eot');
    src: local('#{$FontsPathArista}/Arista Pro ExtraLight'), local('AristaPro-ExtraLight'),
        url('#{$FontsPathArista}/AristaPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-ExtraLight.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-ExtraLight.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-ExtraLight.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-ExtraLight.svg#AristaPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Thin';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Thin.eot');
    src: local('Arista Pro Thin'), local('AristaPro-Thin'),
        url('#{$FontsPathArista}/AristaPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Thin.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Thin.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Thin.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Thin.svg#AristaPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Regular';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Regular.eot');
    src: local('Arista Pro Regular'), local('AristaPro-Regular'),
        url('#{$FontsPathArista}/AristaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Regular.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Regular.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Regular.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Regular.svg#AristaPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Icons';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaProIcons-Bold.eot');
    src: local('Arista Pro Icons Bold'), local('AristaProIcons-Bold'),
        url('#{$FontsPathArista}/AristaProIcons-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaProIcons-Bold.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaProIcons-Bold.woff') format('woff'),
        url('#{$FontsPathArista}/AristaProIcons-Bold.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaProIcons-Bold.svg#AristaProIcons-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Bold';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Bold.eot');
    src: local('Arista Pro Bold'), local('AristaPro-Bold'),
        url('#{$FontsPathArista}/AristaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Bold.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Bold.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Bold.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Bold.svg#AristaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro SemiBold';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-SemiBold.eot');
    src: local('Arista Pro SemiBold'), local('AristaPro-SemiBold'),
        url('#{$FontsPathArista}/AristaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-SemiBold.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-SemiBold.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-SemiBold.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-SemiBold.svg#AristaPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Light';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Light.eot');
    src: local('Arista Pro Light'), local('AristaPro-Light'),
        url('#{$FontsPathArista}/AristaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Light.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Light.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Light.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Light.svg#AristaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Hairline';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Hairline.eot');
    src: local('Arista Pro Hairline'), local('AristaPro-Hairline'),
        url('#{$FontsPathArista}/AristaPro-Hairline.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Hairline.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Hairline.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Hairline.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Hairline.svg#AristaPro-Hairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Arista Pro Fat';
    font-display: auto;
    src: url('#{$FontsPathArista}/AristaPro-Fat.eot');
    src: local('Arista Pro Fat'), local('AristaPro-Fat'),
        url('#{$FontsPathArista}/AristaPro-Fat.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathArista}/AristaPro-Fat.woff2') format('woff2'),
        url('#{$FontsPathArista}/AristaPro-Fat.woff') format('woff'),
        url('#{$FontsPathArista}/AristaPro-Fat.ttf') format('truetype'),
        url('#{$FontsPathArista}/AristaPro-Fat.svg#AristaPro-Fat') format('svg');
    font-weight: 900;
    font-style: normal;
}
/* END */

