


$FontsPathRoboto: "../fonts/Roboto" !default;

/* ==========================================================================
   Roboto
   ========================================================================== */


/* END */
@font-face {
    font-family: 'Roboto Bold Condensed Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.eot');
    src: local('Roboto Bold Condensed Italic'), local('Roboto-BoldCondensedItalic'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensedItalic.svg#Roboto-BoldCondensedItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Condensed.eot');
    src: local('Roboto Condensed'), local('Roboto-Condensed'),
        url('#{$FontsPathRoboto}/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Condensed.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Condensed.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Condensed.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Bold Condensed';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-BoldCondensed.eot');
    src: local('Roboto Bold Condensed'), local('Roboto-BoldCondensed'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensed.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensed.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensed.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Thin Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('#{$FontsPathRoboto}/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-ThinItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-ThinItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-ThinItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Condensed Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-CondensedItalic.eot');
    src: local('Roboto Condensed Italic'), local('Roboto-CondensedItalic'),
        url('#{$FontsPathRoboto}/Roboto-CondensedItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-CondensedItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-CondensedItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-CondensedItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-CondensedItalic.svg#Roboto-CondensedItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Bold';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('#{$FontsPathRoboto}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Bold.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Bold.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Bold.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Medium';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('#{$FontsPathRoboto}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Medium.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Medium.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Medium.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Regular';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('#{$FontsPathRoboto}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Regular.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Regular.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Regular.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Black';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('#{$FontsPathRoboto}/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Black.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Black.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Black.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Medium Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('#{$FontsPathRoboto}/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-MediumItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-MediumItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-MediumItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Bold Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('#{$FontsPathRoboto}/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-BoldItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-BoldItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-BoldItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Light Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('#{$FontsPathRoboto}/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-LightItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-LightItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-LightItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('#{$FontsPathRoboto}/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Italic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Italic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Italic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Light';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('#{$FontsPathRoboto}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Light.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Light.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Light.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Black Italic';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('#{$FontsPathRoboto}/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-BlackItalic.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-BlackItalic.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-BlackItalic.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Roboto Thin';
    font-display: swap;
    src: url('#{$FontsPathRoboto}/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('#{$FontsPathRoboto}/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathRoboto}/Roboto-Thin.woff2') format('woff2'),
        url('#{$FontsPathRoboto}/Roboto-Thin.woff') format('woff'),
        url('#{$FontsPathRoboto}/Roboto-Thin.ttf') format('truetype'),
        url('#{$FontsPathRoboto}/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
/* BEGIN */

