


$FontsPathSkrova: "../fonts/Skrova" !default;

/* ==========================================================================
   Skrova
   ========================================================================== */



/* BEGIN */
@font-face {
    font-family: 'Skrova Back';
    font-display: swap;
    src: url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.eot');
    src: local('Skrova Parts Fill Solid 1'), local('SkrovaParts-FillSolid1'),
        url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.woff2') format('woff2'),
        url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.woff') format('woff'),
        url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.ttf') format('truetype'),
        url('#{$FontsPathSkrova}/SkrovaParts-FillSolid1.svg#SkrovaParts-FillSolid1') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END */
/* BEGIN */
@font-face {
    font-family: 'Skrova Line';
    font-display: swap;
    src: url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.eot');
    src: local('Skrova Parts Outline Dotted 2'), local('SkrovaParts-OutlineDotted2'),
        url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.eot?#iefix') format('embedded-opentype'),
        url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.woff2') format('woff2'),
        url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.woff') format('woff'),
        url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.ttf') format('truetype'),
        url('#{$FontsPathSkrova}/SkrovaParts-OutlineDotted2.svg#SkrovaParts-OutlineDotted2') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* BEGIN */